html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

/* anything with this class wil have the text in all caps */
.uppercase {
  text-transform: uppercase;
}

/* anything wiht this class will git the width of the screen */
.content {
  width: 960px;
  margin: 0 auto;
}

/* This tag will go on anything not displayed in the desktop view (width > 1024) -- the Menu div */
.desktop-hide {
  display: none;
}

/* header section settings */
.header_section {
  width: 100%;
  background-color: black;
}

header {
  display: flex;
  align-items: center;
}

header img {
  margin: .66rem .5rem;
  height: 1rem;
  width: auto;
}

/* main banner settings */
.banner_section {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  height: 25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.callout {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  font-weight: bold;
}

.callout h1 {
  font-size: 2rem;
  margin-top: .25rem;
}

/* navigation section settings */
.nav_section {
  background-color: firebrick;

  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: inline-flex;
  justify-content: space-between;
}

nav span {
  padding: .75rem 0;
}

/* product grid settings */
.grid {
  padding: 3rem 0 0 0;

  display: flex;;
  justify-content: space-between;
}

.grid .product {
  width: 30%;
}

/* by putting the image in a container I can force the image to fit the container otherwise it would overflow the size (especially the glasses). (https://stackoverflow.com/questions/3029422/how-do-i-auto-resize-an-image-to-fit-a-div-container) Setting the width to 50% seems to keep the images from growing too large (I don't remember wehere I found this hack). In looking at the site on Codecademy, they set the image width to 8em. I'm not sure why they chose 8em (from the lesson), but when I calculated it out I got 9rem. (see the excel sheet in MiscStuff folder).
product-image:
  width: 50%;
  margin: 2rem auto;
image-img:
  max-width: 100%;
*/
/* (stpd 6) Ok, so when I try to control this with screensize, the above doesn't work. I had to go to the calculated solution or add a bunch of extra code for the width of the product-span. */
.product .image {
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 9rem;
}

.product span {
  display: block;
  background-color: black;
  padding: .5rem;
  text-align: center;
  width: 95%;
}

/* Information section settings (Location and hours) */
.grid .info {
  width: 35%;
}

.info .heading {
  display: block;
  background-color: black;
  padding: 1rem 2rem;
  text-align: left;
  width: 79%;
}

.info p {
  margin-bottom: 4rem;
  color: black;
  display: block;
}

footer {
  background-color: black;
  height: 5rem;

  display: flex;
  align-items: center;
}

/* tablet sizing */
@media only screen and (max-width: 1024px)  {
  /* this will reverse the desktop-hidden items. (Inherit will take the property from the parent element.) */
  .desktop-hide {
    display: inherit;
  }

  nav {
    justify-content: center;
  }

  /* override the grid-product size */
  .grid .product {
    width: 47%;
  }

  /* This will hide anything that is not displayed on the tablet (glasses) */
  .tablet-hide {
    display: none;
  }
}
