html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

/* anything with this class wil have the text in all caps */
.uppercase {
  text-transform: uppercase;
}

/* anything wiht this class will git the width of the screen */
.content {
  width: 960px;
}

/* header section settings */
.header_section {
  background-color: black;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;

}

header img {
  margin: .66rem .5rem;
  height: 1rem;
  width: auto;
}

/* main banner settings */
.banner_section {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  height: 25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.callout {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  font-weight: bold;
}

.callout h1 {
  font-size: 2rem;
  margin-top: .25rem;
}

/* navigation section settings */
.nav_section {
  background-color: firebrick;

  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: inline-flex;
  justify-content: space-between;
}

nav span {
  padding: .75rem;
}
